<html>
  <head>
    <title>Live Streaming</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" 
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

    <style>
        
        #img{
            width=480;
            height:500;
        }
        
    </style>
  </head>
  <body>
    <div>
      <h1 class="text-center mt-6">Raspberry Pi Camera Streamer</h1>
      <div class="flex justify-center mt-6 mb-4">
        <img id="img"  src="{{ url_for('video_feed') }}">
      </div>
	 <form method="POST" action="/servo" id="servo-control-form">
         
         <div style="margin-left:700px">
             
    
         
            <p>Pan <input type="range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" min="1" max="12.5" name="slider1" /> </p>
             
            <p>Tilt <input type="range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" min="1" max="12.5" name="slider2" /> </p>
            
            

        </div>
        
        <div style="margin-left:680px;margin-top:25px">            
            <input type="submit" 
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            value="submit" />
             
             <button type="button" id="reset-button"
             class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none 
             dark:focus:ring-blue-800"
             >Reset</button>
        </div>


    </form>

    <div style="margin-left:700px;margin-top:25px">   
        <button id="capture-button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        > Capture Image </button>
    </div>
    </div>
        <script>

        const form1 = document.getElementById("servo-control-form");

        form1.addEventListener("submit", (e) => {
            e.preventDefault();
            
            const formData1 = new FormData(form1);
            fetch("/servo", {
                method: "POST",
                body: formData1,
            })
            .then((response) => {
                if (response.ok) {
                    console.log("Servo control successful");
                } else {
                    console.error("Failed to control servos");
                }
            })
            .catch((error) => {
                console.error("Error:", error);
            });
        });
        
        $(document).ready(function() {
            $("#capture-button").click(function() {
                $.ajax({
                    url: "/capture",
                    type: "POST",
                    success: function(data) {
                        // Display the captured image
                        // $("#captured-image").attr("src", data.image_link);
                        console.log("Failed to capture image.");
                    },
                    error: function() {
                        alert("Failed to capture image.");
                    }
                });
            });
        });
        
        
    </script>
  </body>
</html>
